@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu/>
    </div>*@

    <main>
	    @*<div class="top-row px-4">
            <p><b>Quizzer</b></p>
            <div>
		        <a href="/quizzes" target="_self">Quizzes</a>
		        <a href="/users" target="_self">Users</a>
                <a href="/search" target="_self">Search</a>
            </div>
	    </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
